In [8]:
import pandas as pd
import numpy as np

In [9]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [26]:
pgh_aggregate_income = pd.read_csv("aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv", 
                                 index_col = "Id", parse_dates = True)
pgh_aggregate_income.head(89)

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,,
1,Allegheny Center,39947000,6.437773e+06
2,Allegheny West,23793300,2.202594e+07
3,Allentown,38303700,7.490207e+06
4,Arlington,35349900,6.140663e+06
5,Arlington Heights,2389600,1.162393e+06
...,...,...,...
87,Upper Lawrenceville,65738500,1.600713e+07
88,West End,3615800,2.204875e+06
89,West Oakland,16339500,3.412753e+06
90,Westwood,91857100,1.130450e+07
91,Windgap,34609300,6.432817e+06

In [27]:
convert_type = {"Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)": float}
pgh_aggregate_income = pgh_aggregate_income.astype(convert_type)
pgh_aggregate_income.sort_values("Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)", ascending = False)

,Neighborhood,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
Id,,,
78,Squirrel Hill South,659886300.0,57908445.45
69,Shadyside,605635700.0,62416083.58
77,Squirrel Hill North,577467500.0,66363783.65
14,Brookline,366945900.0,33459110.10
64,Point Breeze,314958500.0,30291428.03
...,...,...,...
31,Esplen,5433900.0,2379084.00
36,Glen Hazel,4773300.0,2914988.00
79,St. Clair,3867600.0,1527597.00
88,West End,3615800.0,2204875.00
5,Arlington Heights,2389600.0,1162393.00